<!DOCTYPE html>
<html>
<head>
  <title>GeoNames</title>
  <%= stylesheet_link_tag    "geo_names/application", media: "all" %>
  <%= javascript_include_tag "geo_names/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
